name: Sync Image to Aliyun Example

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Login to Aliyun Docker Registry
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{ secrets.ALIYUN_USERNAME }}
        password: ${{ secrets.ALIYUN_PASSWORD }}
        logout: false

    - name: Sync Image to Aliyun using Skopeo
      run: |
         skopeo copy \
         docker://docker.io/minio/minio:RELEASE.2023-10-24T04-42-36Z \
         docker://registry.cn-hangzhou.aliyuncs.com/jaridli/minio:RELEASE.2023-10-24T04-42-36Z
